.wrapper {
  display: flex;
  gap: 10px;
  .select {
    position: relative;
    .svg__container {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: #fb5734;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      position: relative;
      z-index: 1;

      .paperclip {
        stroke: #ffffff;
      }
    }

    .select__container {
      position: absolute;
      display: flex;
      align-items: center;
      left: 50%;
      top: 0;
      height: 100%;
      background-color: #f8f1f0;
      border-radius: 0 32px 32px 0;
      transition: all 1s;
      overflow: hidden;
      max-width: 0px;

      &_active {
        max-width: 345px;
      }

      .select__content {
        padding: 0 20px 0 40px;
        display: flex;
        align-items: center;
        gap: 20px;

        @media (max-width: 425px) {
          gap: 10px;
        }

        .select__item {
          cursor: pointer;
          padding: 5px;
          @media (max-width: 425px) {
            padding: 2px;
          }
          svg {
            width: 31px;
            height: 31px;
          }
        }
      }
    }
  }
}
