.swiper {
  border-radius: var(--border-radius-16);
  width: 100%;
  .swiper__container {
    display: flex;
    align-items: center;

    .slide {
      height: 300px;
      width: 280px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: var(--border-radius-16);
      overflow: hidden;

      .media {
        height: 100%;
        object-fit: cover;
        user-select: none;
        
      }
    }
  }
}
