.wrapper {
  display: flex;
  justify-content: center;

  .content {
    background-color: var(--background-white);
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 100%;
    border-radius: var(--border-radius-16);
    gap: 20px;
    padding: 20px 0px;

    @media (max-width: 425px) {
      padding: 10px 0px;
    }
  }
}
