.wrapper {
  display: flex;
  justify-content: center;

  .content {
    background-color: var(--background-white);
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 100%;
    border-radius: var(--border-radius-16);
    .story__container {
      padding: 20px 10px 10px 10px;
    }
    .creation__container {
      padding: 20px 10px 10px 10px;
    }
    .posts__container {
      padding: 0 20px;

      @media (max-width: 425px) {
        padding: 0px;
      }
    }
  }
}
