@import '@assets/styles/variables.module';
@import '@assets/styles/colors.module';

.wrapper {
  display: flex;
  justify-content: center;
  
  .content {
    background-color: $backgroundWhite;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 100%;
    border-radius: $borderRadius;
    .story__container {
      padding: 20px 10px 10px 10px;
    }
    .creation__container {
      padding: 20px 10px 10px 10px;
    }
    .posts__container {
      padding: 0 20px;

      @media (max-width: 425px) {
        padding: 0px;
      }
    }
  }
}
