.header {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 0 10px;
  align-items: center;
  transition: all .3s;
  height: 57px;

  &__active {
    box-shadow: 0 1px 0 0 #00000033;
  }

  @media (min-width: 425px) {
      display: none;
    
  }

  .header__block {
    width: 100%;
    .logo__container {
      max-width: 190px;
      .logo {
        width: 100%;
      }
    }
    .input__container {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 100%;

      .input__svg {
        width: 38px;
        height: auto;
        cursor: pointer;
        padding: 5px;
        * {
        }
      }
      .input {
        height: 100%;
        width: 100%;
        font-size: 17px;
      }
    }
  }
  .search__container {
    cursor: pointer;
    padding: 5px;
    .search {
      
    }
  }
}
