.wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 7px;
  border-bottom: 1px solid #00000033;

  @media (max-width: 425px) {
    padding: 0 14px 7px 14px;
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 20px;

    .action__item {
      display: flex;
      align-items: center;
      gap: 8px;
      .action__svg {
        width: 28px;
        cursor: pointer;
      }

      .liked {
        * {
          stroke: #ff485c;
          fill: #ff485c;
        }
      }

      .action__count {
        font-weight: 500;
        font-size: 16px;
        color: #000000;
        opacity: .6;
      }
    }
  }

  .views {
    .view {
    }
  }
}
