.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;

  .link {
    position: relative;

    @media (max-width: 425px) {
      display: none;
    }

    .avatar {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .form {
    flex: 1;
    display: flex;
    align-items: flex-start;
    gap: 20px;

    @media (max-width: 425px) {
      gap: 5px;
    }
    .content {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      .input__container {
        position: relative;
        width: 100%;
        display: flex;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 8px;
        padding: 5px 10px;
        .textarea {
          border: none;
          padding: 5px 0px;
          line-height: 20px;

          &__font {
            font-size: 15px;
          }

          &::-webkit-scrollbar {
            width: 10px;
          }
        }
      }
    }

    .button {
      background-color: transparent;
      padding-top: 10px;
    }
  }
}
