$blackTransparent: #0000004d;
$placeholderColor: #000000d7;

// Styles
.form {
  position: relative;
  width: 100%;
  .creation {
    width: 100%;
    background-color: var(--wrapper-color);
    border-radius: var(--border-radius-32);
    padding: 13px 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .textarea {
      border: none;
      background-color: transparent;
      line-height: 23px;
      padding: 0;

      &__font {
        font-size: 15px;
      }
    }
  }
}
