$blackTransparent: #0000004d;
$placeholderColor: #000000d7;

// Styles
.form {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 15px;

  .creation {
    flex: 1;
    background-color: var(--wrapper-color);
    border-radius: var(--border-radius-32);
    padding: 0 16px;
    transition: 0.2s;

    &__padding {
      padding: 0 16px 16px 16px;
    }

    .creation__input {
      background-color: transparent;
      border: none;
      border-radius: var(--border-radius-32);
      padding: 13px 7px;
      line-height: 20px;
    }

    .actions {
      display: flex;
      align-items: center;
      gap: 7px;

      .action {
        width: 35px;
        height: 35px;
        cursor: pointer;
        padding: 3px;
      }
    }
  }

  .icon__container {
    cursor: pointer;
    padding: 5px;

    .icon {
      width: 27px;
      height: 27px;
    }
  }
}
