.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 0 20px;

  @media (max-width: 425px) {
    padding: 0;
  }

  .title__exist {
    padding: 10px 0;
    font-size: 17px;
  }
}
