.header {
  background-color: #ffffff;
  padding: 7px;
  display: flex;
  justify-content: space-evenly;
  gap: 15px;

  @media (max-width: 425px) {
    border-radius: 24px 24px 0px 0px;
    background-color: #f8f1f0;
    gap: 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }

  svg {
    stroke: var(--stroke);
    stroke-width: 2px;

    @media (max-width: 425px) {
      padding: 3px;
      stroke-width: 1.5px;
    }
  }

  .active {
    svg {
      stroke: var(--stroke-active);
    }
  }
}
