.header {
  background-color: #ffffff;
  padding: 7px;
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 3;

  @media (max-width: 425px) {
    border-radius: 24px 24px 0px 0px;
    background-color: #f8f1f0;
    gap: 5px;
    position: fixed;
    bottom: 0;
  }
  @media (min-width: 425px) {
    top: 0;
  }

  .header__item {
    cursor: pointer;
    max-width: 40px;
    .active {
      svg {
        * {
          stroke: var(--stroke-active);
        }
      }
    }

    svg {
      height: 30px;

      * {
        transition: all 0.2s;
        stroke: var(--stroke);
        stroke-opacity: 1;
        stroke-width: 4px;
      }

      @media (max-width: 425px) {
        width: 100%;
        padding: 3px;
        * {
          stroke: #111111;
          stroke-width: 3px;
        }
      }
    }
  }
}
