.preview {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: center;

  .preview__img {
    user-select: none;
    width: auto;
  }
}
