.wrapper {
  position: relative;
  border-bottom: 1px solid var(--under-line-color);
  padding: 0px 20px 10px var(--padding-left-post);
  display: flex;
  flex-direction: column;
  gap: 10px;

  .reply {
    padding: 0px 0px 10px 0px;

    &:first-child {
      padding: 10px 0px 10px 0px;
      border-top: 1px solid var(--under-line-color);
    }
  }

  .container {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 15px;

    .content {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 100%;

      .block {
        position: relative;
        cursor: pointer;

        &:hover .postActions__container {
          opacity: 1;
        }
      }
      .postActions__container {
        position: absolute;
        right: 10px;
        bottom: 0px;
        opacity: 0;
        transition: opacity 0.5s;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .form__container {
    display: none;
  }
  .form__active {
    display: block;
    position: relative;
    padding-bottom: 8px;
  }
}
