.wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: end;
  border-bottom: 1px solid var(--under-line-color);
  padding-bottom: 6px;

  &:last-child {
    border-bottom: none;
    padding-bottom: 0px;
  }

  .container {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    .avatar__container {
      cursor: pointer;
      .avatar {
        width: 35px;
        height: 35px;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      gap: 9px;

      .username {
        cursor: pointer;
        color: #ffa703;
      }
      .text {
      }

      .date {
        opacity: 0.6;
        font-size: 14px;
      }
    }
  }

  .postActions__container {
    opacity: 0;
    transition: opacity 0.5s;
  }

  &:hover .postActions__container {
    opacity: 1;
  }
}
