.wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    .title {
        font-weight: 500;
        font-size: 24px;
        @media (max-width: 768px) {
            font-size: 16px;
        }
    }
    .list {
        display: flex;
        gap: 30px;
        .list__item {
            cursor: pointer;

            .list__img {
                max-height: 65px;
                height: 100%;
                @media (max-width: 768px) {
                    max-height: 50px;
                }
            }
        }
    }
    .agreement__container {
        margin-top: 18px;
        @media (max-width: 768px) {
            margin-top: 0px;
            display: none;
        }
        .agreement {
            text-align: center;
            line-height: 21px;
            font-weight: 500;
            font-size: 14px;
            max-width: 390px;
            .agreement__style {
                color: var(--color-link);
            }
        }
    }
}
