.wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;

  .mediaItem {
    flex: 0 1 17.8%;
    display: flex;
    align-items: center;
    height: 100%;

    .media {
      border-radius: 50%;
      height: 100%;
    }
  }
  .delete {
    position: absolute;
    top: 10px;
    right: 10px;
    transform: rotate(45deg);
    stroke: #ffffff;
  }
}
