.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow-y: auto;

  @media (max-width: 425px) {
    padding: 0px;
  }
}

.scrollable {
  align-items: flex-start;
}
