.wrapper {
  background-color: var(--wrapper-color);
  
  @media (max-width: 425px) {
    background-color: var(--background-white);
  }

  .content {
    min-height: 100vh;
    padding: 86px 20px 0 20px;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    @media (max-width: 425px) {
      padding: 0 0 56px 0px;
    }
  }
}
