$color: #00000033;

.wrapper {
  padding: 20px 0;
  position: relative;
  width: 100%;

  span {
    display: inline-block;
    background-color: $color;
  }

  .container {
    display: flex;
    gap: 15px;
    flex-direction: column;
    .user {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      .info {
        display: flex;
        align-items: center;
        gap: 10px;
        .logo {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
        .text__container {
          display: flex;
          flex-direction: column;
          gap: 5px;
          .username {
            padding: 6px 0;
            width: 100px;
            border-radius: 5px;
          }
          .prefix {
            padding: 5px 0 ;
            width: 75px;
            border-radius: 5px;
          }
        }
      }
      .time {
        width: 100px;
        padding: 5px 0;
        border-radius: 5px;
      }
    }
    .description__container {
      display: flex;
      flex-direction: column;
      gap: 6px;

      .description {
        width: 100%;
        padding: 5px;
        border-radius: 5px;
        &:last-child {
          width: 80%;
        }
      }
    }

    .container__images {
      display: flex;
      gap: 10px;
      .image {
        flex: 1;
        height: 225px;
      }
    }

    .action {
      display: flex;
      justify-content: space-between;

      .action__block {
        display: flex;
        align-items: center;
        gap: 15px;

        .action__svg {
          width: 32px;
          fill: $color;

          * {
            stroke: $color;
          }
        }
      }
    }

    .likes {
      padding: 5px 0;
      width: 100px;
      border-radius: 5px;
    }
    .comments {
      padding: 5px 0;
      width: 150px;
      border-radius: 5px;
    }
  }
}
