.wrapper {
  display: flex;
  border-radius: var(--border-radius-16);
  overflow: hidden;

  .media__container {
    display: flex;
    align-items: center;
    .media {
      max-height: 450px;
      height: 100%;
      max-width: 100%;
      object-fit: cover;
      user-select: none;
      border-radius: var(--border-radius-16);
    }
  }

  .content {
  }
}
