.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
  position: relative;

  .searching {
    flex: 1 1 100%;
    &__input {
      width: 100%;
      padding: 12px 0 12px 10px;
      font-size: 16px;
      border: none;
    }
  }
  .icon {
    width: 28px;
    height: 28px;
  }
}
