$border__input: #FFFFFF;
$color__input: #FFFFFF;
$color__svg: #FFFFFF;
$border__radius: 32px;



.form {
  display: flex;
  gap: 30px;
  align-items: flex-end;
  .form__input {
    padding: 12px 17px;
    border: 1px solid $border__input;
    border-radius: $border__radius;
    width: 100%;
    background-color: transparent;
    color: $color__input;
    position: relative;
    &::-webkit-scrollbar {
      width: 0px;
    }

    &::placeholder {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    

  }

  .form__button {
   
    padding: 3px;
    background-color: transparent;

    svg {
      * {
        stroke: $color__svg;
      }
    }
  }
}