@import '@assets/styles/colors.module';



.header {
  background-color: #ffff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  .header__item {
    padding: 10px;
    cursor: pointer;
    

    svg {
      height: 35px;
      * {
        transition: all .2s;
        stroke: $stroke;
        stroke-opacity: 1;
      }
    }

    &:hover svg * {
      stroke: $stroke-active;
    }
  }
}
