.wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;

  .comments {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-left: 20px;
  }

  .show__comments {
    cursor: pointer;
  }
}