.wrapper {
  display: flex;
  background: #f8f1f0;
  padding: 3px;
  border-radius: 9px;

  @media (min-width: 425px) {
    display: none;
  }

  .button {
    flex: 1;
    padding: 8px 0;
    border-radius: 7px;
    transition: all 0.3s;

    &__active {
      background-color: #ffffff;
    }
  }
}