@import '@assets/styles/variables.module';
@import '@assets/styles/colors.module';


.wrapper {
    display: flex;
    justify-content: center;
    
    
    .content {
      background-color: $backgroundWhite;
      display: flex;
      flex-direction: column;
      max-width: 1100px;
      width: 100%;
      border-radius: $borderRadius;
      .user {
        .user__container {
         
        }
        .button__container {
          padding: 25px 20px;
        }
      }
      .posts__container {
        padding: 0px 20px;

        @media (max-width: 425px) {
          padding: 0px;
        }
      }
    }
}