.wrapper {
  position: relative;
  width: 100%;

  &:last-child {
    border-bottom: none;
  }

  .container {
    display: flex;
    gap: 15px;
    flex-direction: column;

    .actions__container {
      border-bottom: 1px solid #00000033;
      padding-bottom: 7px;

      @media (max-width: 425px) {
        padding-left: var(--padding-left-post);
      }
    }
  }
}
