.wrapper {
  padding: 20px 0;
  position: relative;
  width: 100%;

  &:last-child {
    border-bottom: none;
  }

  .container {
    display: flex;
    gap: 15px;
    flex-direction: column;

    .user {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      @media (max-width: 425px) {
        padding: 0 14px;
      }

      .time__container {
        margin-right: 20px;

        .time {
        }
      }
      .point__container {
        position: absolute;
        top: 50%;
        right: -7px;
        transform: translate(0, -50%);

        @media (max-width: 425px) {
          right: 3px;
        }
      }

      .actions__container {
        position: absolute;
        right: 0px;
        top: 100%;
      }
    }

    .content {
      display: flex;
      gap: 15px;
      flex-direction: column;

      .description__container {
        cursor: pointer;
        @media (max-width: 425px) {
          padding: 0 14px;
        }

        .description {
          line-height: 21px;
          font-size: 15px;
        }
      }
    }
  }
}
