.wrapper {
  display: flex;
  justify-content: center;

  .content {
    background-color: var(--background-white);
    display: flex;
    flex-direction: column;
    max-width: 900px;
    width: 100%;
    border-radius: 16px;
    gap: 30px;
  }

  .content {
    background-color: var(--background-white);
    display: flex;
    flex-direction: column;
    max-width: 900px;
    width: 100%;
    border-radius: var(--border-radius-16);

    .button__container {
      padding: 0px 20px;
      margin-top: 30px;
      width: 100%;

      a {
        width: 100%;
        .button {
          max-width: 100%;
        }
      }
    }
  }
}
