.media__item {
  position: relative;

  .media {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
  }
  .media__delete {
    position: absolute;
    top: 6px;
    right: 6px;
    cursor: pointer;
  }
}