@import "@assets/styles/variables.module";
@import "@assets/styles/colors.module";

.wrapper {
  display: flex;
  justify-content: center;
  flex: 1 1 100%;

  .content {
    background-color: $backgroundWhite;
    border-radius: $borderRadius;
    max-width: 900px;
    width: 100%;
    padding: 0 16px;

    .header__container {
      .block {
        display: flex;
        align-items: center;
        gap: 25px;
        padding: 20px;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          background-color: #00000033;
          bottom: 0;
          left: -16px;
          right: -16px;
          height: 1px;
        }

        @media (max-width: 425px) {
          display: none;
        }

        .block__back {
          width: 45px;
          height: 45px;
          cursor: pointer;
          padding: 5px;
        }

        .block__title {
          font-size: 24px;
          font-weight: 700;
        }
      }

      .block__mobile {
        display: none;
        position: relative;
        padding: 20px;

        @media (max-width: 425px) {
          display: block;
        }

        .block__mobile_back {
          width: 28px;
          height: 28px;
          padding: 5px;
          position: absolute;
          top: 50%;
          left: 0px;
          transform: translateY(-50%);
          cursor: pointer;
        }

        .block__mobile_title {
          text-align: center;
          font-weight: 700;
          font-size: 24px;
        }
      }
    }

    .buttons__container {
      display: flex;
      background: #f8f1f0;
      padding: 3px;
      border-radius: 9px;

      @media (min-width: 425px) {
        display: none;
      }

      .button {
        flex: 1;
        padding: 8px 0;
        border-radius: 7px;
        transition: all 0.3s;

        &__active {
          background-color: #ffffff;
        }
      }
    }

    .user {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 16px 0;

      @media (min-width: 425px) {
        display: none;
      }

      .user__logo_container {
        .user__logo {
          border-radius: 50%;
          width: 60px;
          height: 60px;
        }
      }

      .user__username_container {
        .user__username {
          font-weight: 700;
          font-size: 17px;
        }
      }
    }

    .input__content {
      padding: 25px 0 10px 0;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        background-color: #00000033;
        top: 0;
        left: -16px;
        right: -16px;
        height: 1px;

        @media (min-width: 425px) {
          display: none;
        }
      }

      &::after {
        content: "";
        position: absolute;
        background-color: #00000033;
        bottom: 0;
        left: -16px;
        right: -16px;
        height: 1px;
      }

      @media (max-width: 425px) {
        padding: 2px;
        padding: 16px 0 10px 0;
      }

      .input__container {
        .input {
          width: 100%;
          font-size: 16px;
          line-height: 20px;
        }
      }
    }

    .submit__container {
      margin: 25px 0 0 0;

      .submit {
        max-width: 100%;
      }
    }
  }
}
