.actions {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #00000030;
  padding: 5px 0;
  
  
  .action {
 
    font-size: 16px;
    cursor: pointer;
    padding: 10px;

    &:hover {
      background-color: #00000030;
    }
  }
}