:root {
  --wrapper-color: #f8f3f3;
  --background-white: #ffffff;

  --stroke: #808080;
  --stroke-active: #fb5734;

  --color-form: rgba(255, 255, 255, 1);
  --color-link: rgba(251, 87, 52, 1);

  --input-color: rgba(0, 0, 0, 0.3);
  --text-color: rgba(0, 0, 0, 1);
  --wrong-color: rgba(214, 10, 10, 0.5);

  --background-modal: #1c2331;
  --block-modal: #ffffff;
  --close-modal-color: #ffffff;
  --under-line-color: rgba(0, 0, 0, 0.151);
}
