$wrapper-color: #F8F3F3;
$backgroundWhite: #ffffff;


// Header

$stroke: #808080;
$stroke-active: #fb5734;


// Auth 

$color-form: rgba(255, 255, 255, 1);
$color-link: rgba(251, 87, 52, 1);


$input-color: rgba(0, 0, 0, 0.3);
$text-color: rgba(0, 0, 0, 1);
$wrong-color: rgba(214, 10, 10, 0.5);