@font-face {
    font-family: 'Factor A';
    src:
        url('../../fonts/FactorA/FactorA-Regular.eot'),
        url('../../fonts/FactorA/FactorA-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/FactorA/FactorA-Regular.woff2') format('woff2'),
        url('../../fonts/FactorA/FactorA-Regular.woff') format('woff'),
        url('../../fonts/FactorA/FactorA-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Factor A';
    src:
        url('../../fonts/FactorA/FactorAMedium-Regular.eot'),
        url('../../fonts/FactorA/FactorAMedium-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/FactorA/FactorAMedium-Regular.woff2') format('woff2'),
        url('../../fonts/FactorA/FactorAMedium-Regular.woff') format('woff'),
        url('../../fonts/FactorA/FactorAMedium-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Factor A';
    src:
        url('../../fonts/FactorA/FactorA-Bold.eot'),
        url('../../fonts/FactorA/FactorA-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/FactorA/FactorA-Bold.woff2') format('woff2'),
        url('../../fonts/FactorA/FactorA-Bold.woff') format('woff'),
        url('../../fonts/FactorA/FactorA-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}