.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  // .like {
  // }

  .liked {
    stroke: #ff485c;
    fill: #ff485c;
  }

  // .count {
  //   font-weight: 500;
  //   font-size: 16px;
  //   color: #000000;
  //   opacity: 0.6;
  //   user-select: none;
  // }
}
