.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  svg {
    stroke: #00000099;
  }
  .count {
    color: #00000099;
    font-size: 17px;
  }

  .liked {
    stroke: #ff485c;
    fill: #ff485c;
    stroke-width: 3;
  }
}
